.navbar {

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 20px;

    background-color: teal;

    color: #fff;

}

.topnav{

    display: flex;
    
    gap: 1em;
    
    font-size: 18px;
    
    }